.hero-section {
    background-image: url(../media/about-hero.jpg);
    background-size: cover;
    background-position: 85% 68%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: center;
}

#header {
    background-color: #ffffffb0;
}

.darkmode #header {
    background-color: #0909098c;
}

.hero-section .text-wrap {
    padding: 1rem;
    margin: 1rem;
    background-color: #ffffff8c;
    max-width: min(600px,39%);
}

.darkmode .hero-section .text-wrap {
    background-color: #0909098c;
}

.hero-section h1 {
    font-size: var(--font-size-xl);
    line-height: 1.3;
}

.hero-section p {
    font-size: var(--font-size-md);
}

@media only screen and (max-width: 1200px) {

    .hero-section {
        height: 700px;
        justify-content: end;
        align-items: center;
        text-align: center;
    }

    .hero-section .text-wrap {
        margin-bottom: 4rem;
        max-width: unset;
    }

}

/* ---------About Section------ */

.about-section .section-head{
    text-align: center;
    font-size: var(--font-size-xl);
}

.about-section .content-wrapper{
    width: 100%;
    padding: 1rem;
}

.about-section .secondary-bg{
    background-color: var(--light-off);
}

.about-section img{
    max-width: 400px;
    width: 100%;
    border-radius: 0.25rem;
}

.about-section .about-row{
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 2rem;
    column-gap: 2rem;
    row-gap: 2rem;
}

.about-section h2{
    font-size: var(--font-size-lg);
    margin-bottom: 0.5rem;
}

.about-section p{
    font-size: var(--font-size-base);
    text-align: justify;
}

.about-section .content-wrapper .text-content{
    max-width: 1200px;
    margin-inline: auto;
}

@media only screen and (max-width: 850px) {

    .about-section .about-row{
        flex-wrap: wrap;
    }

    .about-section .started-container{
        flex-wrap: wrap-reverse;
    }
    
}

/* ---------Awards Banner------ */

.awards-banner{
    margin: 2rem auto;
    padding-inline: 1rem;
    max-width: 1200px;
}

.awards-banner h2{
    text-align: center;
    font-size: var(--font-size-lg);
}

.awards-banner .image-wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.awards-banner img{
    padding: 0.5rem;
    max-width: 300px;
    width: 33%;
}
