
/* -----Contact Section---- */

.contact-section{
    padding: 2rem 1rem;
}

.contact-section .contact-wrapper{
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-section .contact-wrapper .contain-form{
    background-color: var(--light-off);
    border: 1px solid var(--foreground);
    width: 500px;
    height: 250px;
}
